.App {
    text-align: center;
}

.Logo {
    background-image: url(./logo.svg);
}

body {
    background-color: #FFCC00;
    padding: 60px;
    margin: 20px;
}

h1,
h2,
ul,
li {
    font-family: italic;
    text-align: justify;
}

p {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 10%;
}

.parag {
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}

.home {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5%;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    text-align: center;
}

ul.header {
    background-color: #111;
    padding: 2px;
    text-align: center;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.Registry {
    text-align: center;
}

.content {
    background-color: #FFF;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 5%;
}

.content h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: blue;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF;
    text-align: center;
}